@use "../abstracts" as *;
@use "../base" as *;
.about {
  &__heading {
    font-size: 4rem;
    font-weight: 500;
    margin-block: 0.5em 0.3em;
    line-height: 1.2;

    span {
      color: var(--clr-primary-400);
    }

    @include max(small) {
      font-size: 2.7rem;
    }
  }

  &__info {
    font-size: 1.12rem;
    line-height: 2;
  }

  &__extra {
    @extend .flex;
    margin-top: 1em;

    h3 {
      color: var(--clr-primary-400);
      font-size: 3rem;
      font-weight: 500;
    }

    p {
      color: var(--clr-neutral-200);
      font-size: 0.9rem;
    }

    a {
      background-color: var(--clr-primary-400);
      color: var(--clr-neutral-900);
      border-radius: 0.4em;
      text-decoration: none;
      padding: 1em 2em;
      border: 2px solid var(--clr-primary-400);
      font: {
        weight: 500;
        size: 1.1rem;
      }
      text-align: center;

      &:is(:hover, :focus-visible) {
        background-color: transparent;
        color: var(--clr-primary-400);
      }

      @include motion {
        transition: color 0.3s, background-color 0.3s;
      }
    }

    @include max(small) {
      flex-wrap: wrap;

      a {
        width: 100%;
      }
    }
  }

  @include max(small) {
    min-height: max-content !important;
    padding-bottom: 3em;
  }
}
