@use "../abstracts" as *;
@use "../base" as *;
.app {
  &__overlay {
    @extend .grid;
    min-height: 100dvh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);

    @include max(special) {
      & > * {
        width: 70%;
        margin-inline: auto;
      }
    }

    @include max(medium) {
      & > * {
        width: 90%;
      }
    }
  }

  &__video {
    position: fixed;
    min-height: 100dvh;
    height: 100%;
    min-width: 100dvw;
    inset: 0;
    z-index: -1;
    object-fit: cover;
  }
}
