@use "../abstracts" as *;
@use "../base" as *;

.arrow {
  @extend .flex;
  position: fixed;
  width: 2em;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  bottom: 1em;
  right: 1em;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-300);
  border-radius: 50%;
  border: 2px solid var(--clr-primary-400);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;

  &:is(:hover, :focus-visible) {
    background-color: transparent;
    color: var(--clr-primary-400);
  }

  @include motion {
    transition: all 0.3s;
  }

  &--shown {
    visibility: visible;
    opacity: 1;
  }
}
