@use "../abstracts" as *;
@use "../base" as *;

.body {
  padding-right: 10em;

  & > section {
    @extend %fill;
  }

  @include max(special) {
    padding-right: 0;
  }
}

.id {
  @extend .flex;
  justify-content: center;
  border: 1px solid var(--clr-neutral-200);
  gap: 0.5em;
  width: fit-content;
  border-radius: 100vmax;
  padding: 0.5em 2em;
  text-transform: capitalize;
  margin-top: 1.5em;
}

.icon__wrapper {
  position: fixed;
  z-index: 1;
  padding-top: 3em;
  top: 0;
  bottom: 0;
  right: 2em;
  width: 3em;
  text-align: center;
  font-size: 2rem;

  @include max(special) {
    padding-top: 1em;
  }
}
