@use "../abstracts" as *;
.iconBar {
  border: 1px solid var(--clr-neutral-100);
  border-radius: 100vmax;
  padding: 0.8em 0.3em;
  background-color: var(--clr-neutral-900);
  width: 60%;
  margin-inline: auto;
  position: sticky;
  top: 7.8em;
  font-size: 1.5rem;

  & a {
    &:is(:hover, :focus-visible) {
      color: var(--clr-primary-400);
    }

    &:not(:last-child) {
      margin-bottom: 0.8em;
      display: block;
    }

    & * {
      margin-inline: auto;

      &:is(:hover, :focus-visible),
      &.current {
        color: var(--clr-primary-400);
      }

      @include motion {
        transition: color 0.3s;
      }
    }
  }
}
