@use "../abstracts" as *;
.iconBar {
  border: 1px solid var(--clr-neutral-100);
  border-radius: 100vmax;
  padding: 0.8em 0.3em;
  background-color: var(--clr-neutral-900);
  width: 60%;
  margin-inline: auto;
  position: sticky;
  top: 7.8em;
  font-size: 1.5rem;

  & a {
    &:is(:hover, :focus-visible) {
      color: var(--clr-primary-400);
    }

    &:not(:last-child) {
      margin-bottom: 0.8em;
      display: block;
    }

    & * {
      margin-inline: auto;

      &:is(:hover, :focus-visible),
      &.current {
        color: var(--clr-primary-400);
      }

      @include motion {
        transition: color 0.3s;
      }
    }

    // tooltip stuff
    &:is(:hover, :focus-visible)::before {
      opacity: 1;
      visibility: visible;

      @include motion {
        transition: all 0.3s;
      }
    }

    &::before {
      content: attr(data-title);
      background-color: var(--clr-neutral-300);
      border-radius: 0.3em;
      color: var(--clr-neutral-100);
      font-size: 0.8rem;
      position: absolute;
      padding: 0.25em 0.5em;
      left: 0;
      translate: calc(-1 * (100% + 0.1em)) 0;
      white-space: nowrap;
      opacity: 0;
      z-index: 1;
      visibility: hidden;
    }
  }

  @include max(special) {
    display: none;
  }
}
