@use "../abstracts" as *;
@use "../base" as *;
.menu {
  background-color: var(--clr-neutral-900);
  position: fixed;
  z-index: 2;
  inset: 0 0 0 100%;
  visibility: hidden;
  min-width: max-content;
  padding: 3.8em 4.8em;
  color: var(--clr-neutral-200);

  @include motion {
    transition: inset 0.3s, visibility 0.3s;
  }

  &--open {
    inset: 0 0 0 70%;
    visibility: visible;
  }

  @include max(special) {
    &--open {
      inset: 0 0 0 40%;
      visibility: visible;
    }
  }

  &__wrapper {
    position: sticky;
    top: 3.8em;
    height: 100dvh;
  }

  &__close {
    @extend .btn;
    font-size: 3rem;
    position: absolute;
    right: -1.1em;
    top: -1.1em;
    color: var(--clr-neutral-100);

    &:is(:hover, :focus-visible) {
      color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s;
    }
  }

  & h2 {
    font-weight: 500;
    margin-bottom: 1.2em;

    &:nth-of-type(2) {
      margin-top: 2em;
    }
  }

  &__list {
    margin-left: 1em;

    li {
      margin-bottom: 1em;
    }
  }

  &__links {
    @extend .flex;
    gap: 0.5em;
    text-decoration: none;

    &:is(:hover, :focus-visible),
    &--current {
      color: var(--clr-neutral-100);
    }

    &:is(:hover, :focus-visible) .icon,
    &--current .icon {
      color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s;
    }
  }

  &__socials {
    @extend .flex;
    gap: 1em;
    font-size: 1.4rem;

    a {
      &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
      }

      @include motion {
        transition: color 0.3s;
      }
    }
  }
}
