@use "../abstracts" as *;
@use "../base" as *;
.profile {
  padding: 1.5em;

  &__wrapper {
    border: 1px solid var(--clr-neutral-100);
    border-radius: 1em;
    padding: 1em 2em;
    position: sticky;
    top: 1.5em;
  }

  &__title {
    @extend .flex;
    justify-content: space-between;

    h1 {
      font-size: 2.2rem;

      sup {
        font-size: 0.5rem;
        font-weight: 300;
        border: 1px solid var(--clr-neutral-100);
        border-radius: 50%;
        padding: 0.4em 0.7em;
      }
    }
  }

  &__img {
    width: 90%;
    aspect-ratio: 1.2;
    overflow: hidden;
    margin: 1em auto;
    border-radius: 1em;

    & img {
      filter: grayscale(70%);
    }
  }

  &__wrapper > p {
    text-align: center;
  }

  &__wrapper > p[aria-label] {
    font-size: 1.3rem;

    &:nth-of-type(2) {
      margin-bottom: 0.5em;

      & + p {
        font-size: 0.9rem;
        color: var(--clr-neutral-200);
      }
    }
  }

  &__socials {
    @extend .flex;
    gap: 0.8em;
    justify-content: center;
    margin-block: 1em;
    color: var(--clr-neutral-200);
  }

  &__icon {
    border: 2px solid var(--clr-neutral-200);
    border-radius: 50%;
    font-size: 2.7rem;
    padding: 0.25em;

    &:is(:hover, :focus-visible) {
      color: var(--clr-primary-400);
      border-color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s, border-color 0.3s;
    }
  }

  &__email {
    @extend .flex;
    justify-content: center;
    border: 2px solid var(--clr-primary-400);
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-300);
    font-weight: 500;
    border-radius: 100vmax;
    padding-block: 0.5em;
    margin-block: 1.3em 0.7em;
    font-size: 1.1rem;
    gap: 0.4em;
    width: 100%;
    text-decoration: none;

    &:is(:hover, :focus-visible) {
      background-color: transparent;
      color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s, background-color 0.3s;
    }
  }
}
