@use "../abstracts" as *;
@use "../base" as *;

.scroll {
  @extend .flex;
  position: fixed;
  width: 2em;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  bottom: 2em;
  right: 2em;
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border-radius: 50%;
  border: 2px solid var(--clr-primary-400);
  cursor: pointer;

  &:is(:hover, :focus-visible) {
    background-color: transparent;
    color: var(--clr-primary-400);
  }

  @include motion {
    transition: color 0.3s, background-color 0.3s;
  }
}
