@use "../abstracts" as *;
@use "../base" as *;
.testimonials {
  margin-bottom: 5em;

  &__heading {
    font: {
      weight: 500;
      size: 3rem;
    }
    line-height: 1.2;
    margin-block: 0.7em;

    span {
      color: var(--clr-primary-400);
    }

    @include max(small) {
      font-size: 2.7rem;
    }
  }

  .slideshow-container {
    position: relative;
    border: 2px solid var(--clr-neutral-100);
    border-radius: 1em;
    user-select: none;

    .wrapper {
      display: flex;
      overflow-x: hidden;
      scroll-behavior: smooth;
      transition: scroll 0.3s ease-in-out;
    }

    @include min(special) {
      width: 95%;
      margin-right: auto;
    }
  }

  .prev,
  .next {
    @extend .btn;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    font-size: 2rem;
  }

  .prev {
    left: 0.1em;
  }

  .next {
    right: 0.1em;
  }

  .prev:is(:hover, :focus-visible),
  .next:is(:hover, :focus-visible) {
    color: var(--clr-primary-400);
  }

  .dot-container {
    text-align: center;
    padding: em(20);
  }

  .dot {
    @extend .btn;
    width: 1em;
    aspect-ratio: 1;
    background-color: var(--clr-neutral-100);
    margin-inline: 0.3em;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;

    &--active,
    &:is(:hover, :focus-visible) {
      background-color: var(--clr-primary-400);
    }

    &--active {
      scale: 1.5;
    }
  }
}
