@use "../abstracts" as *;
@use "../base" as *;

.testimonial {
  min-width: 100%;
  height: max-content;
  padding-block: 2em;
  align-self: center;

  &__flex {
    @extend .flex;
    justify-content: space-between;
    margin-bottom: 1em;

    a {
      color: var(--clr-neutral-200);
    }

    svg {
      font-size: 1.8rem;
      color: var(--clr-primary-400);
    }
  }

  > div {
    width: 90%;
    margin-inline: auto;

    @include max(special) {
      width: 83%;
    }

    @include max(small) {
      width: 80%;
    }

    @include max(micro) {
      width: 75%;
    }
  }
}
