//utility classes, sass placeholders and css custom properties
@use "../abstracts" as *;
:root {
  @each $key, $value in $clr-neutral {
    --clr-neutral-#{$key}: #{$value};
  }

  @each $key, $value in $clr-primary {
    --clr-primary-#{$key}: #{$value};
  }

  @each $key, $value in $tools {
    --clr-#{$key}: #{$value};
  }
}

.flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2em;
}

.grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2em;

  @include max(special) {
    display: block;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

%fill {
  min-height: 100dvh;
}

@each $key, $value in $tools {
  .#{$key} {
    --clr-tool: #{$value};
    color: var(--clr-tool);
  }
}
