@use "../abstracts" as *;
@use "../base" as *;
.menu {
  background-color: var(--clr-neutral-900);
  position: fixed;
  z-index: 2;
  inset: 0 0 0 70%;
  min-width: max-content;
  padding: 3.8em 4.8em 0em 4.8em;
  color: var(--clr-neutral-200);
  translate: 100% 0;
  opacity: 0;

  &--open {
    display: block !important;
    translate: 0 0;
    opacity: 1;

    @starting-style {
      translate: 100% 0;
      opacity: 0;
    }
  }

  &__wrapper {
    position: sticky;
    top: 4em;
    padding-top: 1.5em;
  }

  &__close {
    @extend .btn;
    font-size: 3rem;
    position: absolute;
    right: -1.1em;
    top: -0.5em;
    color: var(--clr-neutral-100);

    &:is(:hover, :focus-visible) {
      color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s;
    }
  }

  & h2 {
    font-weight: 500;
    margin-bottom: 1.2em;

    &:nth-of-type(2) {
      margin-top: 2em;
    }
  }

  &__list {
    margin-left: 1em;

    li {
      margin-bottom: 1em;
    }
  }

  &__links {
    @extend .flex;
    gap: 0.5em;
    text-decoration: none;

    &:is(:hover, :focus-visible),
    &--current {
      color: var(--clr-neutral-100);
    }

    &:is(:hover, :focus-visible) .icon,
    &--current .icon {
      color: var(--clr-primary-400);
    }

    @include motion {
      transition: color 0.3s;
    }
  }

  &__socials {
    @extend .flex;
    gap: 1em;
    font-size: 1.4rem;

    a {
      &:is(:hover, :focus-visible) {
        color: var(--clr-primary-400);
      }

      @include motion {
        transition: color 0.3s;
      }
    }
  }

  @include motion {
    transition: translate 0.3s, opacity 0.3s, display 0.3s;
    transition-behavior: allow-discrete;
  }

  @include max(special) {
    inset: 0 0 0 40%;
    display: none;
  }

  @include max(small) {
    inset: 0 0 0 20%;
  }

  @include max(micro) {
    inset: 0 0 0 0;
  }
}
